@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root {
    --fonte-principal: 'Roboto', sans-serif;
    --bg-img-logo: transparent;
    --symbol-search-color: rgb(87, 87, 87);
    --search-input:  rgba(87, 87, 87, 0.11);
    --cor0: #f0c18f;
    --cor1: #b4ddd3;
    --cor2: #ad95f1;
    --cor3: #e99898;
    --text: #424242;
    --back-input: #42424215;
    --notes-border:#4242422d;
    --input-color-bg: #f1f3f4;
    --bg-color: #fff;
    --box-shadow-header: #dadce0;
    --bg-menu-item: #feefc3;
    --bg-menu-item-hover: #f1f3f4;
}
body.dark {
    --bg-img-logo: transparent;
    --symbol-search-color: #e8eaed;
    --search-input: rgb(32, 33, 36);
    --cor0: #d37101;
    --cor1: #00cf5d;
    --cor2: #2d00aa;
    --cor3: #b90000;
    --text: #e8eaed;
    --bg-color: rgb(32, 33, 36);
    --menu-hover: rgba(199, 163, 2, 0.445);
    --bg-menu-item: #41331c;
    --bg-menu-item-hover: #28292c;
}
button {
    border: none;
}
html,
body,
.grades {
    font-family: var(--fonte-principal);
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bg-color);
}
.container-body {
    display: flex;
    position: absolute;
    width: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: inset 0 -1px 0 0 var(--box-shadow-header);
    background-color: var(--bg-color);
    height: 70px;
    width: 100%;
    padding: 5px;
    z-index: 2;
}
.header-left {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

/* Button e Symbols */

.container-symbols-header {
    display: flex;
    position: relative;
    margin-left: 5px;
}
.div-input-symbols {
    display: flex;
    justify-content: flex-end;
    width: 15%;
    margin-right: 15px;
}
#button-menu {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50%;
    transition: .2s ease-in-out all;
}
#button-menu:hover {
    background-color: #4242424f;    
}

/* Logo */

div#logo {
    display: flex;
    align-items: center;
}
#logo img {
    background-color: var(--bg-img-logo);
    width: 40px;
    height: 40px;
}
span#text-logo {
    font-size: 20px;
    font-family: var(--fonte-principal);
    color: var(--text);
    position: relative;
    margin: 10px 10px 0px 0px;
}

/* Spacebar */

#search-input {
    background-color: var(--search-input);
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    padding: 9px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#search-input::placeholder {
    color: var(--text);
}
#search-bar:active:focus,
#search-bar:focus,
#search-bar:active,
#search-bar:hover {
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.247);
}
#search-bar:active:focus #search-input,
#search-bar:focus #search-input,
#search-bar:active #search-input,
#search-bar:hover #search-input,
#search-bar:active:focus #search-symbol,
#search-bar:focus #search-symbol,
#search-bar:active #search-symbol,
#search-bar:hover #search-symbol {
    transition: .3s ease-in-out all;
    background-color: var(--bg-color);
}
.control-bar {
    display: flex;
}
#search-bar {
    display: none;
    border-radius: 5px;
}
@media (min-width: 768px) {
    #search-bar {
        display: flex;
        border: none;
        width: 70%;
        margin-right: 15px;
        padding-top: 2px;
    }
}
button.search-bar-btn {
    background-color: transparent;
    border: none;
    border-radius: 9px;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
button.search-bar-btn:hover {
    background-color: white;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.247);
}
#search-symbol {
    display: flex;
    cursor: pointer;
    border: none;
    align-items: center;
    background-color: var(--back-input);
    color: var(--symbol-search-color);
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
#search-symbol:hover {
    background-color: white;
}
#dark-symbol {
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text);
    font-size: 30px;
}

/* Conteúdo */

.hr-header {
    color: var(--text);
    width: 100vw;
    size: 0.5px;
    margin: 0px;
}
.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 80px 10px 0px 80px;
}
.menu-config {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-content: center;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: 70px;
} 
.menu-config.closed {
    max-width: 70px;
} 
.menu-config.closed .menu-list-p {
    display: none;
}
#menu-list {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    height: 100vh;
    padding: 0px;
    align-items: flex-start;
}
.material-symbols-outlined {
    color: var(--text);
    display: none;
    font-size: 20px;
    margin-right: 17px;
    padding-left: 10px;
}

/* Menu */

.menu-items {
    width: 100%;
    display: flex;
}
.menu-items .menu-button {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 13px 10px;
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.menu-items .menu-button:hover,
.menu-items .menu-button:focus,
.menu-items .menu-button:active,
.menu-items .menu-button:active:focus {
    background-color: var(--bg-menu-item-hover);
}
.menu-items .menu-button.active {
    background-color: var(--bg-menu-item);
}
.menu-list-p {
    display: none;
    font-weight: bolder;
    font-size: 15px;
    color: var(--text);
}
.link-menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Notas */

.notes-controls {
    overflow: hidden;
    transition: height .5s;
    margin: -4px 0px 0px 10px;
    height: 0;
}
.controls-on {
    height: 47px;
}
.controls-off {
    height: 0;
}
.expandida .notes-controls {
    height: auto;
}
.container-notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 20px;
    grid-gap: 10px;
    margin: 15px 0;
    width: 85%;
}
.notes {
    color: var(--text);
    break-inside: avoid;
    transition: height 0.3s ease;
    max-width: 240px;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 5px;
}
.notes-expanded {
    height: auto;
}
.notes-content {
    padding: 9px;
}
.notes:hover {
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
}
.btn-notes-fechar {
    text-decoration: none;
    color: var(--text);
    background-color: transparent;
    font-size: 16px;
    border: solid rgba(0, 0, 0, 0.2) 0.5px;
    margin: 1px;
}

/* Conteúdo notas */

.notes-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
.notes-text {
    color: var(--text);
    font-size: 13px;
}

/* Cores notas */

.notes-color-one {
    background-color: var(--cor0);
}
.notes-color-two {
    background-color: var(--cor1);
}
.notes-color-three {
    background-color: var(--cor2);
}
.notes-color-four {
    background-color: var(--cor3);
}
@media (min-width: 768px) {
    .content {
        padding-left: 160px;
    }
    .menu-config,
    #menu-list {
        max-width: 140px;
    }

    .menu-list-p {
        display: inline;
    }
}

/* Expansivo notas */

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.expandida {
    position: fixed;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 8px;
    max-width: 30%;
    max-height: 60%;
    z-index: 1000;
}
.expandida h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.expandida p {
    font-size: 18px;
    line-height: 1.6;
}

/* Arquivo */

.btn-notes-archive {
    text-decoration: none;
    color: var(--text);
    background-color: transparent;
    font-size: 16px;
    border: solid rgba(0, 0, 0, 0.2) 0.5px;
    margin: 1px;
}