@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 425px) {
    div#logo {
        margin-right: 45px; 
    }
    .container-symbols-header {
        margin-left: 40px;
    }
    #input-search {
        display: none;
    }
    .menu-list {
        font-size: 26px;
        padding: 17.7px;
        margin: 3px;
    }
    .menu-items:hover {
        width: 60px;
        height: 70px;
        border-radius: 50%;
    }
    .menu-list-p {
        display: none;
    }
    .menu-config {
        display: flex;
        position: absolute;
        max-width: 70px;
    }
    .content {
        padding-left: 60px; 
    }
    .notes {
        margin: 3px;
        width: 90%;
    }
}

@media screen and (min-width: 426px) and (max-width: 550px) {
    #search-symbol {
        display: none;
    }
    #input-search {
        width: 200px;
    }
    .menu-items:hover {
        width: 120%;
    }
    .menu-config {
        display: flex;
        position: absolute;
        width: 95%;
        max-width: 140px;
    }
    .menu-list {
        margin-left: 20px;
    }
    .content {
        padding-left: 140px; 
    }
    .notes {
        margin: 3px;
    }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
    body { 
        overflow-x: hidden; 
        width: 100vw;
    }
    #input-search {
        width: 300px;
    }
    #button-menu {
        margin-right: 34px;
    }
    div#logo {
        margin-left: -35px;
    }
    .container-symbols-header {
        margin-left: -10px;
    }
    #search-symbol {
        display: none;
    }
    #dark-symbol {
        margin-left: 10px;
    }
    .hr-header {
        width: 100vw;
    }
    .content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding-left: 180px;
        height: 100vh;
    }
    .menu-config {
        display: flex;
        position: absolute;
        overflow: hidden;
        width: 95%;
        max-width: 190px;
        height: 100vh;
    }
    .menu-items:hover {
        width: 150%;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        margin: 3px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    body { 
        overflow-x: hidden; 
        width: 100vw;
    }
    #input-search {
        width: 330px;
        margin-left: 70px;
    }
    .container-symbols-header {
        margin-left: 45px;
    }
    #search-symbol {
        display: none;
    }
    #dark-symbol {
        margin-left: 60px;
    }
    .hr-header {
        width: 100vw;
    }
    .content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding-left: 225px;
    }
    .menu-config {
        display: flex;
        position: absolute;
        overflow: hidden;
        width: 95%;
        max-width: 240px;
        height: 100vh;
    }
    .menu-items:hover {
        width: 170%;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 95%;
        margin: 3px;
    }
}
@media screen and (min-width: 993px) {
    * {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }
    body { 
        overflow-x: hidden; 
        width: 100vw;
    }
    div#logo {
        margin-left: -5px;
    }
    #input-search {
        width: 500px;
        margin-left: 70px;
    }
    .container-symbols-header {
        margin-left: 45px;
    }
    #search-symbol {
        display: none;
    }
    #dark-symbol {
        margin-left: 60px;
    }
    .hr-header {
        width: 100vw;
    }
    .container-body {
        display: flex;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100vw;
        padding-left: 350px;
    }
    .menu-config {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        height: 100vh;
        width: 95%;
        max-width: 340px;
    }
    .menu-items:hover {
        width: 210%;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 95%;
        margin: 3px;
    }
}