@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 425px) {
    html, body {
        overflow-x: hidden;
    }
    div#logo {
        margin-right: 45px; 
    }
    #search-bar {
        display: none;
    }
    #search-input {
        display: none;
    }
    .content {
        padding-left: 60px; 
    }
    .menu-config {
        display: flex;
        position: absolute;
        max-width: 70px;
        height: 100%;
    }
    .menu-list {
        font-size: 26px;
        padding: 17.7px;
        margin-right: 10px;
    }
    .menu-items {
        margin: 0px 0px 50px 20px;
    }
    .menu-items:hover {
        height: 50px;
        border-radius: 50%;
    }
    .container-symbols-header {
        margin-left: 40px;
    }
    .menu-list-p {
        display: none;
    }
    .notes {
        margin: 3px;
        width: 90%;
    }
}

@media screen and (min-width: 426px) and (max-width: 550px) {
    .content {
        padding-left: 140px; 
    }
    #search-input {
        margin-top: 5px;
        width: 170px;
        height: 30px;
    }
    .search-bar-btn {
        display: flex;
        padding-left: 0px;
        margin: 0px 20px 0px 0px;
    }
    #search-symbol {
        font-size: 21px;
        height: 35px;
    }
    .dark-symbol {
        margin: 0px 10px 0px 20px;
    }
    .menu-config {
        display: flex;
        position: absolute;
        width: 95%;
        max-width: 140px;
    }
    .icons-menu {
        font-size: 13px;
    }
    .menu-list {
        margin-left: 20px;
    }
    .menu-list-p {
        font-size: 13px;
    }
    .menu-items:hover {
        width: 85%;
        height: 35px;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 95%;
        margin: 3px;
    }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
    body { 
        overflow-x: hidden; 
        width: 100vw;
    }
    .container-symbols-header {
        margin-left: -10px;
    }
    #button-menu {
        margin-right: 34px;
    }
    div#logo {
        margin-left: -35px;
    }
    #search-input {
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        background-color: var(--input-color-bg);
        height: 30px;
        margin: 5px 0px 0px 0px ;
        border-radius: 5px;
        width: 280px;
        padding: 9px;
    }
    .button.search-bar {
        margin-left: 0px;
    }
    button.search-bar-btn {
        display: flex;
        background-color: transparent;
        border: none;
        border-radius: 9px;
        width: 340px;
        height: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    #search-symbol {
        display: flex;
        cursor: pointer;
        border: none;
        background-color: var(--back-input);
        color: rgb(87, 87, 87);
        height: 35px;
        font-size: 21px;
        border-radius: 5px;
        padding: 5px 3px 5px 3px;
    }
    #search-symbol:hover {
        background-color: white;
    }
    .hr-header {
        width: 100vw;
    }
    .content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding-left: 180px;
        height: 100vh;
    }
    .menu-config {
        display: flex;
        position: absolute;
        overflow: hidden;
        flex-wrap: wrap;
        width: 95%;
        max-width: 190px;
        height: 100vh;
    }
    .menu-items:hover {
        width: 150%;
    }
    .menu-list-p {
        font-size: 13px;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        margin: 3px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    body { 
        overflow-x: hidden; 
        width: 100%;
    }
    .container-symbols-header {
        margin-left: 45px;
    }
    #search-input {
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        background-color: var(--input-color-bg);
        border-radius: 5px;
        height: 30px;
        width: 330px;
        margin: 5px 0px 0px 0px;
        padding: 9px;
    }
    .button.search-bar {
        margin-left: 0px;
    }
    button.search-bar-btn {
        display: flex;
        background-color: transparent;
        border: none;
        border-radius: 9px;
        width: 340px;
        height: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    #search-symbol {
        display: flex;
        cursor: pointer;
        border: none;
        background-color: var(--back-input);
        color: rgb(87, 87, 87);
        height: 35px;
        font-size: 21px;
        border-radius: 5px;
        padding: 5px 3px 5px 3px;
    }
    #search-symbol:hover {
        background-color: white;
    }
    .hr-header {
        width: 100vw;
    }
    .content {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 220px;
    }
    .menu-config {
        display: flex;
        position: absolute;
        overflow: hidden;
        flex-wrap: wrap;
        margin: 0px 95px 0px 0px;
        padding-left: 0px;
        width: 100%;
        max-width: 210px;
        height: 100%;
    }
    .menu-list-p {
        font-size: 13px;
    }
    .menu-items:hover {
        width: 170%;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        margin: 3px;
    }
}

@media screen and (min-width: 993px) {
    * {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }
    body { 
        overflow-x: hidden; 
        width: 100vw;
    }
    .container-symbols-header {
        margin-left: 45px;
    }
    #search-input {
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: var(--input-color-bg);
        margin: 5px 0px 0px 0px;
        height: 30px;
        width: 500px;
        width: 300px;
        padding: 9px;
    }
    .button.search-bar {
        margin-left: 0px;
    }
    button.search-bar-btn {
        display: flex;
        background-color: transparent;
        border: none;
        border-radius: 9px;
        width: 340px;
        height: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    #search-symbol {
        display: flex;
        cursor: pointer;
        border: none;
        background-color: var(--back-input);
        color: rgb(87, 87, 87);
        font-size: 21px;
        height: 35px;
        border-radius: 5px;
        padding: 10px 3px 3px 3px;
    }
    #search-symbol:hover {
        background-color: white;
    }
    #dark-symbol {
        margin-left: 60px;
    }
    .hr-header {
        width: 100vw;
    }
    .container-body {
        display: flex;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 95vw;
        padding-left: 350px;
    }
    .menu-config {
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        overflow: hidden;
        height: 100%;
        width: 95%;
        max-width: 310px;
    }
    .menu-list-p {
        font-size: 13px;
    }
    .menu-items:hover {
        width: 210%;
    }
    .notes {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        max-width: 240px;
        height: 95%;
        margin: 3px;
    }
}