@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --bg-img-logo: transparent;
    --symbol-search-color: rgb(87, 87, 87);
    --search-input:  rgba(87, 87, 87, 0.11);
    --cor0: #f0c18f;
    --cor1: #b4ddd3;
    --cor2: #ad95f1;
    --cor3: #e99898;
    --text: #424242;
    --back-input: #42424215;
    --notes-border:#4242422d;
    --input-color-bg: #f1f3f4;
    --bg-color: #fff;
    --box-shadow-header: #dadce0;
    --bg-menu-item: #feefc3;
    --bg-menu-item-hover: #f1f3f4;
}

body.dark {
    --bg-img-logo: transparent;
    --symbol-search-color: #e8eaed;
    --search-input: rgb(32, 33, 36);
    --cor0: #d37101;
    --cor1: #00cf5d;
    --cor2: #2d00aa;
    --cor3: #b90000;
    --text: #e8eaed;
    --bg-color: rgb(32, 33, 36);
    --menu-hover: rgba(199, 163, 2, 0.445);
    --bg-menu-item: #41331c;
    --bg-menu-item-hover: #28292c;
}

button {
    border: none;
}

html,
body,
.grades {
    font-family: var(--fonte-principal);
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.container-body {
    display: flex;
    position: absolute;
    width: 100%;
}

header {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 5px;
    position: fixed;
    box-shadow: inset 0 -1px 0 0 var(--box-shadow-header);
    z-index: 2;
}

.header-left {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.container-symbols-header {
    display: flex;
    position: relative;
    margin-left: 5px;
}

.div-input-symbols {
    width: 15%;
    display: flex;
    margin-right: 15px;
    justify-content: flex-end;
}

#button-menu {
    width: 40px;
    height: 40px;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50%;
    transition: .2s ease-in-out all;
}

#button-menu:hover {
    background-color: #4242424f;    
}

div#logo {
    display: flex;
    align-items: center;
}

#logo img {
    background-color: var(--bg-img-logo);
    width: 40px;
    height: 40px;
}

span#text-logo {
    font-size: 20px;
    font-family: var(--fonte-principal);
    color: var(--text);
    position: relative;
    margin-right: 10px;
}

#search-input {
    background-color: var(--search-input);
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    padding: 9px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-input::placeholder {
    color: var(--text);
}

#search-bar:active:focus,
#search-bar:focus,
#search-bar:active,
#search-bar:hover {
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.247);
}
#search-bar:active:focus #search-input,
#search-bar:focus #search-input,
#search-bar:active #search-input,
#search-bar:hover #search-input,
#search-bar:active:focus #search-symbol,
#search-bar:focus #search-symbol,
#search-bar:active #search-symbol,
#search-bar:hover #search-symbol {
    transition: .3s ease-in-out all;
    background-color: var(--bg-color);
}

.control-bar {
    display: flex;
}

#search-bar {
    display: none;
    border-radius: 5px;
}

@media (min-width: 768px) {
    #search-bar {
        width: 70%;
        display: flex;
        border: none;
        margin-right: 15px;
        padding-top: 2px;
    }
}

button.search-bar-btn {
    background-color: transparent;
    border: none;
    border-radius: 9px;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

button.search-bar-btn:hover {
    background-color: white;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.247);
}

#search-symbol {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: var(--back-input);
    color: var(--symbol-search-color);
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    align-items: center;
}

#search-symbol:hover {
    background-color: white;
}

#dark-symbol {
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text);
    font-size: 30px;
}

.hr-header {
    color: var(--text);
    width: 100vw;
    size: 0.5px;
    margin: 0px;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    padding-left: 80px;
    padding-right: 10px;
    padding-top: 80px;
}

.menu-config {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-content: center;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: 70px;
}    

#menu-list {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    height: 100vh;
    padding: 0px;
    align-items: flex-start;
}

.material-symbols-outlined {
    color: var(--text);
    display: none;
    font-size: 20px;
    margin-right: 17px;
    padding-left: 10px;
}

.menu-items {
    width: 100%;
}

.menu-items .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 13px 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.menu-items .menu-button:hover,
.menu-items .menu-button:focus,
.menu-items .menu-button:active,
.menu-items .menu-button:active:focus {
    background-color: var(--bg-menu-item-hover);
}

.menu-items .menu-button.active {
    background-color: var(--bg-menu-item);
}

.menu-list-p {
    display: none;
    font-weight: bolder;
    font-size: 15px;
    color: var(--text);
}

.container-notes {
    display: grid;
    grid-gap: 10px;
    margin: 15px 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 20px;
    width: 85%;
}

.notes {
    color: var(--text);
    max-width: 240px;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    break-inside: avoid;
}
.notes-content {
    padding: 5px;
}

.notes:hover {
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
}

.notes-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.notes-text {
    color: var(--text);
    font-size: 13px;
}

#notes-one {
    background-color: var(--cor0);
}

#notes-two {
    background-color: var(--cor1);
}

#notes-three {
    background-color: var(--cor2);
}

#notes-four {
    background-color: var(--cor3);
}

@media (min-width: 768px) {
    .content {
        padding-left: 160px;
    }
    .menu-config,
    #menu-list {
        max-width: 140px;
    }

    .menu-list-p {
        display: inline;
    }
}