@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cor0: #f0c18f;
    --cor1: #a2ebc3;
    --cor2: #ad95f1;
    --cor3: #e99898;
    --text: #424242;
    --back-input: #42424215;
}

:root {
    --cor11: #d37101;
    --cor22: #00cf5d;
    --cor33: #2d00aa;
    --cor44: #b90000;
    --text01: #b8b8b8;
}

html,
body,
.grades {
    font-family: var(--fonte-principal);
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

.container-body {
    display: flex;
    position: absolute;
    width: 100%;
}

header {
    color: #fff;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 5px;
    margin-left: 10px;
}

.container-symbols-header {
    display: flex;
    position: relative;
    margin-left: 5px;
}

.div-input-symbols {
    display: flex;
    margin-right: 15px;
}

#button-menu {
    color: var(--text);
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 22px;
    padding: 6px;
    margin-left: 5px;
}

#button-menu:hover {
    background-color: #4242424f;
    width: 30px;
    height: 40px;
    border-radius: 50%;
}

div#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 40px;
    height: 40px;
}

span#text-logo {
    font-family: var(--fonte-principal);
    color: var(--text);
    position: relative;
    font-size: 22px;
    margin-right: 10px;
}

#search-bar {
    display: flex;
}

#search-input {
    outline: none;
    background-color: var(--back-input);
    border: 1px solid transparent;
    width: 120px;
    padding: 5px;
    margin-right: 30px;
    border-radius: 8px;
}

#search-input:hover {
    background-color: white;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.247);
}

#search-symbol {
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text);
    font-size: 25px;
    padding: 2px;
}

#dark-symbol {
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text);
    font-size: 30px;
}

.hr-header {
    color: var(--text);
    width: 100vw;
    size: 0.5px;
    margin: 0px;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    padding-left: 150px;
}

.menu-config {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 140px;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
}    

#menu-list {
    font-family: var(--fonte-principal);
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    height: 100vh;
    padding: 0px;
}

.material-symbols-outlined {
    color: var(--text);
    display: none;
    font-size: 28px;
    padding-right: 10px;
    margin: 5px 4px 2px 0px;
}

.menu-items {
    padding: 25px 0px 25px 20px;
}

.menu-items:hover {
    color: black;
    background-color: #4242422d;
    width: 32.8vw;
    border-radius: 0px 16px 16px 0px;
}

.menu-list-p {
    font-weight: bolder;
    font-size: 15px;
    color: var(--text);
}

.notes {
    color: var(--text);
    width: 95%;
    padding: 5px;
    margin: 8px;
    border: 1px solid #42424256;
    border-radius: 5px;
}

.notes:hover {
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
}

.notes-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.notes-text {
    color: var(--text);
    font-size: 13px;
}

#notes-one {
    background-color: var(--cor0);
}

#notes-two {
    background-color: var(--cor1);
}

#notes-three {
    background-color: var(--cor2);
}

#notes-four {
    background-color: var(--cor3);
}