@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
}

:root{
   --fonte-principal:'Roboto' , sans-serif;
}

body {
    margin: 0;
    font-family: var(--fonte-principal);
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #424242;
    font-size: 24px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#logo-text {
    font-family: var(--fonte-principal);
    color: #292929;
}

#search-bar {
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
}

#search-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
}

#sun-icon {
    cursor: pointer;
    font-size: 20px;
}